body{
    margin-top: 13.8vh;
}

#Title_Bar{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1CA5B8;
    height: 12.5vh;
    width: 100%;
    display: flex;
    box-shadow: 0.5vh 0.5vh 0.5vh 0.5vh #aaaaaa;
    padding-left: 3vw;
    align-items: center;
    
}
#Title_text{
    color: #ffffff;
    font-size: 5vh;
    font-family: 'NanumSquare';
    font-weight: 800;
}